/*place global styles here */
html,
body {
	@apply h-full overflow-hidden;
}

@font-face {
	font-family: 'Space Grotesk';
	src: url('/fonts/SpaceGrotesk.ttf');
	font-display: swap;
}

.card {
	background-color: rgb(var(--color-surface-50));
}

.input,
.textarea,
.select,
.input-group {
	background-color: rgb(var(--color-surface-100));
}

.textarea {
	@apply text-surface-900-50-token;
}
